aside {
  background: url(../assets/images/Background.png) no-repeat center / cover;
  border-radius: 1.2rem;
  padding: 3.2rem;
  height: 72.8rem;

  & header {
    gap: 1.6rem;

    & > div {
      gap: 0.4rem;

      & h1 {
        color: var(--pink);
        font: var(--logo);
      }

      & p {
        color: var(--text-heading);
        font-weight: 300;
      }
    }
  }
}
